<!DOCTYPE html>
<html>
  <head>
    <title>Learn With Sabbir Shiam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="my very own first rails site">
    <meta name="author" content="ShabbirShiam">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
        $(function() {
            setTimeout(function() {
                $('.alert').fadeOut('fast');
            }, 5000);
        })
    </script>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/message' %>
    <%= debug(params) if Rails.env.development? %>
    <%= yield %>
  </body>
</html>
